.back-404 {
    background-color: $backgroundColorOne;
}
.div-404 {
    height: 100vh;
}
.h1-404 {
    font-size: $fontXl;
}
.flork-404 {
    width: 100%;
    height: auto;
    display: block;
    width: 30%;
}