.content-404 {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
}

.back-404 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.div-404 {
    width: 100%;
    height: 100vh;
}
.h1-404 {
    font-size: $fontXl;
}
.flork-404 {
    width: 100%;
    height: auto;
}