
.opinion {
    width: 500px;
    height: 250px;
}
.father-index {
    @include flex ( row , space-around , center , wrap );
    gap: 20px;
}
.padding {
    padding: 0 15px;
}
.padding-box {
    padding: 25px;
}
.margin {
    margin: 25px 0px 0px;
}
.div-footer {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
.div-divider {
    border-bottom: 1px solid $secondaryColor;
    margin-top: 10px;
}
.div-divider2 {
    @extend .div-divider;
    border-bottom: 1px solid $mainColor;
    @include spacing ( 50px 25px , none );
}
.sec-footer {
    width: 100%;
}
.font-modifier-b {
    font-family: $secondaryFont;
    font-size: 3rem;
}
.img-webp {
    border-radius: 35px;
}
.bg-atribute {
    background-color: $paletColorTwo;
}

#car-size {
    width: auto;
    height: 700px;
}