.ing-area {
    width: 580px;
}
.ing-bgm {
    background-image: url(../images/Header-ing.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ing-inter {
    width: 580px;
}
.h-inter {
    height: 500px;
}