
.d-grid {
    @include grid ( repeat (4,1fr), repeat (2,1fr), "a1 a2 a3 a4" "a5 a6 a7 a8");
    place-items: center;
    grid-row-gap: 50px;
    .a1 {
        grid-area: a1;
    }
    .a2 {
        grid-area: a2;
    }
    .a3 {
        grid-area: a3;
    }
    .a4 {
        grid-area: a4;
    }
    .a5 {
        grid-area: a5;
    }
    .a6 {
        grid-area: a6;
    }
    .a7 {
        grid-area: a7;
    }
    .a8 {
        grid-area: a8;
    }
}

.art-product {
    transition: 0.5s ease;
    &:hover {
        transform: scale(1.2);
    }
}
