// medias 

@media (width < 1400px){
    .father-us {
        flex-direction: column;
    }
    .father-us2 {
        flex-direction: column;
    }
    .d-grid {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: 
        "a1 a2"
        "a3 a4"
        "a5 a6"
        "a7 a8";
    }
}

@media (width < 1200px){
    .font-mod-h1 {
        font-size: 3.5rem;
    }
}

@media (width < 992px){
    .font-mod-h1 {
        font-size: 2rem;
    }
}

@media (width < 768px){
    .ing-inter {
        width: 480px;
    }
    .d-grid {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(8,1fr);
        grid-template-areas: 
        "a1"
        "a2"
        "a3"
        "a4"
        "a5"
        "a6"
        "a7"
        "a8";
    }
}

@media (width < 576px){
    header {
        height: 500px;
    }
    .font-mod-h1 {
        font-size: 2rem;
    }
    .div-sizer {
        width: 100%;
        height: auto;
        padding: 0px 10px;
    }
    .div-sizer2 {
        width: 100%;
        height: auto;
        padding: 0px 10px;
    }
    .img-size4 {
        width: 100%;
        height: auto;
    }
}

@media (width < 496px){
    .ing-inter{
        width: 320px;
    }
    .basis {
        flex-basis: 100%;
    }
}