// variables de uso comun 

// colors

$mainColor: #34495e;
$secondaryColor: #ffffff;
$paletColorOne: #f5deb3;

// background colors

$backgroundColorOne: #006266;

// border colors

$borderColorOne: #dee2e6;

// fonts

$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Dosis', sans-serif;

// fontsizes

$fontSm: 0.8em;
$fontMd: 1em;
$fontLg: 1.5em;
$fontXl: 2em;

// fontweight

$fontBold: 600;
$fontRegular: 400;
$fontLight: 200;
